*{
  font-family: 'Poppins', sans-serif; 
    margin:0;
    padding:0;
}
.bg-img{
  font-family: 'Poppins', sans-serif; 
   background-image:url('../Assets/doc1.jpg') ;
   background-size:cover;
   background-repeat: no-repeat;
   width: 100vw;
   height: 60vh;
}
.fg-content{
  position: absolute;
  top:2rem;
}
.fg-content h1{
    color:black;
    font-family: 'Poppins', sans-serif; 
    font-size:5rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.777);
    
}

@media (max-width: 1024px) {
  .bg-img h1 {
    font-size: 7rem;
  }
}
@media (max-width: 768px) {
  .bg-img h1 {
    font-size: 4rem;
  }
}

@media (max-width: 576px) {
  .bg-img h1 {
    font-size: 3rem;
    top: 60%;
  }
}
