.formlbg {
    background-image: url('../Assets/Signup.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.form-group label{
    color: aliceblue;
    

}
  
