
.navbar{
    background-color:floralwhite;
    color:#1c4ee6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    position: relative;
    z-index: 9999;
}
.site-title{
    font-size: x-large;
    font-weight: bold;
    padding: 0;
    margin: 0;
    display: flex;
    gap:.75rem;
    
}
.site-title img{
    height: 2rem;
    width: 2rem;
}
.navbar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap:1rem;
    font-size:larger;
    align-items: center;
}

.navbar a{
    color: inherit;
    text-decoration: none;
    
}

.navbar li :hover{
    color: blue;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 25px;
    width: 200px;
    padding: 10px;
    background-color: floralwhite;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-menu li {
    list-style: none;
    padding: 5px 0;
    color:#1c4ee6;
  }
  
  .dropdown-menu li:hover {
    background-color: #f1f1f1;
  }

  .profile-picture:hover{
    background-color: #f1f1f1;
  }